{% extends "_layouts/index.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='node_modules/tone/build/Tone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/p5/p5.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="columns is-centered is-vcentered">
        <div class="column is-11">
           <div class="tile is-ancestor is-vertical">
                <div id="sketch" class="tile is-parent is-bordered"></div>
           </div>
        </div>
        <div class="column  is-centered ">
            <div class="box has-background-black">
            <div class="tile is-vertical is-ancestor">
                <div class="tile is-parent">
                    <a class="a tile is-child has-text-centered" id="toggle">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
                <div class="tile is-parent is-primary">
                    <a class="a tile is-child has-text-centered" id="FAT">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
                <div class="tile is-parent is-primary">
                    <a class="a tile is-child has-text-centered" id="SYNTH">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
                <div class="tile is-parent is-primary">
                    <a class="a tile is-child has-text-centered" id="TOM">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
                <div class="tile is-parent is-primary">
                    <a class="a tile is-child has-text-centered" id="OSCILLATOR">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
                <div class="tile is-parent is-primary">
                    <a class="a tile is-child has-text-centered" id="SYNTH1">
                        <span class="icon is-large">
                            <i class="fas fa-3x fa-square"></i>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="static/js/key_note.js"></script>
    <script src="static/js/notes.js"></script>
    <script src="static/js/manage_shapes.js"></script>
{% endblock %}