{% extends "_layouts/index.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='node_modules/tone/build/Tone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/p5/p5.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="sketch" class="box is-bordered"></div>

    <button class="button" id="toggle">Play!</button>
    <button class="button" id="FAT">FAT</button>
    <button class="button" id="SYNTH">SYNTH</button>
    <button class="button" id="TOM">TS</button>
    <button class="button" id="OSCILLATOR">OS</button>
    <button class="button" id="SYNTH1">S1</button>
{% endblock %}

{% block scripts %}
    <script src="static/js/key_note.js"></script>
    <script src="static/js/notes.js"></script>
    <script src="static/js/manage_shapes.js"></script>
{% endblock %}