.nohref{
    pointer-events: none;
    cursor: default;
}

.purple{
    color: #0F0D87;
}

.red{
    color: #87110D;
}
.green{
    color: #0A6B34;
 }

.yellow{
    color:#D7F519;
 }
.peach{
    color: #F07333;
 }
.blue{
    color: #1460E1;
 }