.nohref{
    pointer-events: none;
    cursor: default;
}
.glow {
    color: inherit;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.purple{
    color: #0F0D87;
}

.red{
    color: #87110D;
}
.green{
    color: #0A6B34;
 }

.yellow{
    color:#D7F519;
 }
.peach{
    color: #F07333;
 }
.blue{
    color: #1460E1;
 }