<!DOCTYPE html>
<html lang="en">
    <meta charset="utf08">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Unnamed app</title>
        <link rel="stylesheet" href="static/css/bulma.css"></link>
        <script src="https://kit.fontawesome.com/1039dec531.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='node_modules/tone/build/Tone.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/socket.io-client/dist/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/p5/p5.js') }}"></script>

    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
    {% include "_includes/scripts.html" %}

</html>