<script src="{{ url_for('static', filename='js/p5/p5.js') }}"></script>
<p>
    <button id="play" class="pure-button pure-button-disabled">PLAY</button>
    <button id="pause" class="pure-button">PAUSE</button>
</p>
<script type="text/javascript" src="{{ url_for('static', filename='js/p5/p5.js') }}">

    console.log('fuck');
    var distortion = new Tone.Distortion({
        distortion: 0.1,
        oversample: "4x" // none, 2x, 4x
    });
    var reverb = new Tone.Freeverb(0.75, 3000);
    var gain = new Tone.Gain(0.5);
    var feedbackDelay = new Tone.FeedbackDelay("8n", 0.25);
    var compressor = new Tone.Compressor({
        ratio: 12,
        threshold: -24,
        release: 0.25,
        attack: 0.003,
        knee: 10
    });

    var bd = new Tone.MembraneSynth({
        pitchDecay: 0.05,
        octaves: 4,
        oscillator: {
            type: "fmsine",
            phase: 140,
            modulationType: "sine",
            modulationIndex: 0.8,
            partials: [1] //1,0.1,0.01,0.01
        },
        envelope: {
            attack: 0.01,
            decay: 0.74,
            sustain: 0.71,
            release: 0.05,
            attackCurve: "exponential"
        }
    });
    var cymbal = new Tone.MetalSynth({
        frequency: 800,
        envelope: {
            attack: 0.001,
            decay: 1.4,
            release: 0.2
        },
        harmonicity: 5.1,
        modulationIndex: 32,
        resonance: 4000,
        octaves: 1.5
    })

    gain.chain(reverb, compressor, Tone.Master)
    gain.chain(compressor, Tone.Master)

    bd.chain(gain)

    //cymbal.chain( gain)
    //bd.chain( feedbackDelay,gain)


    Tone.Transport.bpm.value = 120;

    $("#play").removeClass('pure-button-disabled');


    $("#pause").click(function () {

        Tone.Transport.stop();
    });

    $("#play").click(function () {
        Tone.Transport.start();

    });
    let index = 0;

    Tone.Transport.scheduleRepeat(repeat, '8n');
    function repeat(time) {
        let step = index % 2;

        if (step == 0) {
            bd.triggerAttackRelease("e1", "32n", time);
        } else {
            cymbal.triggerAttackRelease("32n", time, 0.5);
        }

        index++;
    }

</script>